.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr) ) ;
    background-color: #fff;
    color: #444;
}

.box {
    background-color: #d4d4d4;
    color: #fff;
    //padding: 20px;
    //font-size: 2vw;

}

.entry-header{
    margin-left:10px !important;
    margin-right:10px !important;
}